{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if carts %}
    <div class="cart">

        <div class="container position-relative">
            <div class="row sticky-top" style="top: 0">
                <div class="col-5">
                    <h5>Продукт</h5>
                </div>
                <div class="col-2">
                    <h6>Цена</h6>
                </div>
                <div class="col-2">
                    <h6>Качество</h6>
                </div>
                <div class="col-2">
                    <h6>Всего</h6>
                </div>
                <br>
            </div>

            {% for cart in carts %}
                <div class="row pt-5">
                    <div class="col-5 ">
                        <div class="row">
                            <a href="{% url 'shop:detail' cart.product.id %}" class="col-4">
                                <img src="{{ cart.product.image.url }}" class="img-fluid" alt="">
                            </a>
                            <a href="{% url 'shop:detail' cart.product.id %}" style="text-decoration: none; color: black;" class="col-8 d-flex flex-column justify-content-center">
                                <h6>{{ cart.product.category.name }}</h6>
                                <h5>{{ cart.product.name }}</h5>
                            </a>

                        </div>

                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <h6>{{ cart.product.price }}</h6>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">

                        <form class="change_amount_form" action="{% url 'shop:change-product-amount' cart.id %}" method="get">
                            <input type="number" data-id={{cart.id}} id="{{ cart.product.category.slug }}{{ cart.product.id }}"
                               class="form-control text-center change_amount " value="{{cart.amount}}" name="cart_amount"
                               min="1" max="{{ cart.product.in_stock }}"
                               style="width: 70px">
                        </form>
                    </div>

                    <p class="hello"></p>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <h6>
                            <input type="text" id="{{ cart.product.category.slug }}total{{ cart.product.id }}"
                                   disabled style="border: none; background: none;" value="{{ cart.get_total_price }}">

                        </h6>
                    </div>
                    <div class="col-1 d-flex flex-column justify-content-center">
                        <a href="{% url 'shop:delete-cart-item' cart.id %}" class="btn bg-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
    
            <div class="d-flex justify-content-between pt-5">
                <a href="{% url 'shop:shop' %}" class="py-2 px-3 btn  ">Продолжить покупки</a>
                <a href="{% url 'shop:clean-cart' %}" class="py-2 px-3 btn  ">Очистить карзину</a>
            </div>

        </div>


    </div>
    {% else %}
        <p style="text-align: center; margin-top: 100px;">Ваша карзина пуста</p>
    {% endif %}

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function(){

        let forms = document.querySelectorAll('.change_amount_form')
        forms.forEach(function(elem){
            elem[0].addEventListener('change', function(){
                elem.submit()
            })
        })
        

            {% for prod in product %}
                $('#{{ prod.category.slug }}{{ prod.id }}').change(function () {
                    var a = $('#{{ prod.category.slug }}{{ prod.id }}').val()
                    $('#{{ prod.category.slug }}total{{ prod.id }}').val(a *{{ prod.price }})
                })

            {% endfor %}

        
        })
        
    </script>

{% endblock js %}