{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="cart">

        <div class="container position-relative">
            <div class="row sticky-top" style="top: 0">
                <div class="col-5">
                    <h5>Продукт</h5>
                </div>
                <div class="col-2">
                    <h6>Цена</h6>
                </div>
                <div class="col-2">
                    <h6>Качество</h6>
                </div>
                <div class="col-2">
                    <h6>Всего</h6>
                </div>
                <br>
            </div>

            {% for prod in product %}
                <div class="row pt-5">
                    <div class="col-5 ">
                        <div class="row">
                            <a href="{% url 'shop:detail' prod.id %}" class="col-4">
                                <img src="{{ prod.image.url }}" class="img-fluid" alt="">
                            </a>
                            <a href="{% url 'shop:detail' prod.id %}" style="text-decoration: none; color: black;" class="col-8 d-flex flex-column justify-content-center">
                                <h6>{{ prod.category.name }}</h6>
                                <h5>{{ prod.name }}</h5>
                            </a>
                        </div>

                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <h6>{{ prod.price }}</h6>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <input type="number" id="{{ prod.category.slug }}{{ prod.id }}"
                               class="form-control text-center " value="1"
                               min="1" max="{{ prod.in_stock }}"
                               style="width: 70px">

                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <h6>
                            <input type="text" id="{{ prod.category.slug }}total{{ prod.id }}"
                                   disabled style="border: none; background: none;" value="{{ prod.price }}">

                        </h6>
                    </div>
                    <div class="col-1 d-flex flex-column justify-content-center">
                        <button type="submit" class="btn bg-danger">x</button>
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-between pt-5">
                <a href="{% url 'shop:shop' %}" class="py-2 px-3 btn  ">Продолжить покупки</a>
                <button class="py-2 px-3 btn  ">Очистить карзину</button>
            </div>
        </div>


    </div>

{% endblock content %}

{% block js %}
    <script>
        {% for prod in product %}
            $('#{{ prod.category.slug }}{{ prod.id }}').change(function () {
                var a = $('#{{ prod.category.slug }}{{ prod.id }}').val()
                $('#{{ prod.category.slug }}total{{ prod.id }}').val(a *{{ prod.price }})
            })

        {% endfor %}
    </script>

{% endblock js %}