{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'shop/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'shop/checkout2.css' %}">
{% endblock css %}
{% block content %}
    <div class="container checkout">

        <div class="checkout">
            <div class="container">
                <div class="row">

                    <!-- Billing Info -->
                    <div class="col-lg-6">
                        <div class="billing checkout_section">
                            <div class="section_title">Платежный адрес</div>
                            <div class="section_subtitle">Введите ваш адрес</div>
                            <div class="checkout_form_container">
                                <form action="{% url 'shop:checkout' %}" id="checkout_form" class="checkout_form" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <!-- Name -->
                                            <label for="checkout_name">Имя*</label>
                                            <input type="text" id="checkout_name" class="checkout_input"
                                                   name="first_name" required="required">
                                        </div>
                                        <div class="col-xl-6 last_name_col">
                                            <!-- Last Name -->
                                            <label for="checkout_last_name">Фамилия*</label>
                                            <input type="text" id="checkout_last_name" class="checkout_input"
                                                   name="last_name" required="required">
                                        </div>
                                    </div>
                                    <div>
                                        <!-- Phone no -->
                                        <label for="checkout_phone">Номер телефона*</label>
                                        <input type="phone" id="checkout_phone" class="checkout_input"
                                               name="phone" required="required">
                                    </div>
                                    <div>
                                        <!-- Company -->
                                        <label for="checkout_company">Компания</label>
                                        <input type="text" id="checkout_company" class="checkout_input" name="company">
                                    </div>

                                    <div>
                                        <!-- Address1 required -->
                                        <label for="checkout_address">Адрес*</label>
                                        <input type="text" id="checkout_address" class="checkout_input"
                                               name="address1" required="required">

                                    </div>
                                    <div>
                                        <!-- Address optional-->
                                        <label for="checkout_company">Адрес 2</label>
                                        <input type="text" id="checkout_address_2"
                                              name="address2" class="checkout_input">
                                    </div>

                                    <div>
                                        <!-- City / Town -->
                                        <label for="checkout_city">Город*</label>
                                        <select name="checkout_city" id="checkout_city"
                                                class="dropdown_item_select checkout_input" require="required">
                                            <option></option>
                                            <option>Ташкент</option>
                                            <option>Алмалык</option>
                                            <option>Ангрен</option>
                                            <option>Фхангаран</option>
                                            <option>Бекабад</option>
                                            <option>Нурафшан</option>
                                            <option>Чирчик</option>
                                            <option>Янгиюль</option>
                                        </select>
                                    </div>
                                    <div>
                                        <!-- Province -->
                                        <label for="checkout_province">Район*</label>
                                        <select name="checkout_province" id="checkout_province"
                                                class="dropdown_item_select checkout_input" require="required">
                                            <option></option>
                                            <option>Сергелийский</option>
                                            <option>Мирзо-Улугбекский</option>
                                            <option>Мирабадский</option>
                                            <option>Бектемирский</option>
                                            <option>Алмазарский</option>
                                            <option>Яшнободский</option>
                                            <option>Юнусабадский</option>
                                            <option>Учтепинский</option>
                                            <option>Шайхантахурский</option>
                                            <option>Чиланзарский</option>
                                            <option>Яккасарайский</option>
                                        </select>
                                    </div>

                                    <div>
                                        <!-- Email -->
                                        <label for="checkout_email">Адрес электронной почты*</label>
                                        <input type="email" id="checkout_email" class="checkout_input"
                                               name="email" required="required">
                                    </div>
                                    <div class="checkout_extra">
                                        <div>
                                            <input type="checkbox" id="checkbox_terms" name="regular_checkbox"
                                                   class="regular_checkbox">
                                            <label for="checkbox_terms"><img src="images/check.png" alt=""></label>
                                            <span class="checkbox_title">Условия и положения</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="checkbox_account" name="regular_checkbox"
                                                   class="regular_checkbox">
                                            <label for="checkbox_account"><img src="images/check.png" alt=""></label>
                                            <span class="checkbox_title">Завести аккаунт</span>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="checkbox_newsletter" name="regular_checkbox"
                                                   class="regular_checkbox">
                                            <label for="checkbox_newsletter"><img src="images/check.png" alt=""></label>
                                            <span class="checkbox_title">Подпишитесь на нашу рассылку новостей</span>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Order Info -->

                    <div class="col-lg-6">
                        <div class="order checkout_section">
                            <div class="section_title">Ваша очередь</div>
                            <div class="section_subtitle">Информация о заказе</div>

                            <!-- Order details -->
                            <div class="order_list_container">
                                <div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title">Продукт</div>
                                    <div class="order_list_value ml-auto">Всего</div>
                                </div>
                                <ul class="order_list">
                                    {% for cart in carts %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title" style="font-size: 12px;">{{cart.product.name|truncatewords:'4'}}</div>
                                        <div class="order_list_value ml-auto">{{cart.amount}}sht</div>
                                        <div class="order_list_value ml-auto">{{cart.get_total_price}} сум</div>
                                    </li>
                                    {% endfor %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title">Промежуточный итог</div>
                                        <div class="order_list_value ml-auto">{{total}} сум</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title">Доставка</div>
                                        <div class="order_list_value ml-auto">Бесплатно</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title">Total</div>
                                        <div class="order_list_value ml-auto">{{total}} сум</div>
                                    </li>
                                </ul>
                            </div>

                            <!-- Payment Options -->
                            <div class="payment">
                                <div class="payment_options">
                                    <label class="payment_option clearfix">Оплата при доставке
                                        <input type="radio" name="radio" value="1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="payment_option clearfix">Кредитная карта
                                        <input type="radio" name="radio" value="2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="payment_option clearfix">Прямой банковский перевод
                                        <input type="radio" name="radio" value="3">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!-- Order Text -->
                            <div class="order_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                pharetra temp or so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales
                                arcu id te mpus. Ut consectetur lacus.
                            </div>
                            <div class="button order_button"><a href="#" class="submit_button">Разместить заказ</a></div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function(){

        $('.submit_button').click(function(e){
            e.preventDefault()
            $('#checkout_form').submit()
        })

    })
</script>

{% endblock js %}