{% extends 'base.html' %}
{% block content %}
    <div class="bg-light">
        <div class="container ">

            <div class="small text-secondary">Home > Shop > Product</div>

            <div class="row">
                <div class="col-6"><img width="500px"
                                        src="https://vendor.webuildthemes.com/assets/images/demo/product-8.jpg"></div>
                <div class="col-6">
                    <div class="name font-50">Hajo Backpack</div>
                    <div class="cost item-price">$99</div>
                    <div class="description">This minimalist backpack is suitable for any occasion.
                        Whether on the road by bike, shopping or in the nightlife.
                    </div>
                    <div class="count"><input type="number" min="1" max="10" value="1"></div>
                    <div class="addToCard"></div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}