{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <div class="container pt-5">
        <h3>Подробная информация  о заказе </h3>
        <div class="row">
            <div class="col-md-8">
                {% for cart in carts %}
                <div class="row pt-5 align-items-center">
                        <div class="col-md-3">
                            <p>{{cart.product.name}}</p>
                        </div>
                        <div class="col-md-3">
                            <img src="{{cart.product.image.url}}" style="width: 100px;" alt="image">
                        </div>
                        <div class="col-md-3">
                            <p>{{cart.amount}} шт</p>
                        </div>
                        <div class="col-md-3">
                            <p>{{cart.product.price}} сум</p>
                        </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="col-md-4">

                <div class="d-flex justify-content-start mt-3">
                    <p>Покупатель: </p>
                    <p class="ml-auto">{{order.user.shippingaddressmodel.last_name}} {{order.user.shippingaddressmodel.first_name}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Время заказа: </p>
                    <p class="ml-auto">{{order.created_at|naturaltime}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Номер заказа: </p>
                    <p class="ml-auto">{{order.order_   number}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Количество товаров: </p>
                    <p class="ml-auto">{{}}</p>
                </div>
                <hr class="my-0">
            </div>
        </div>
    </div>
{% endblock content %}