{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <div class="container pt-5">
        <h3>Подробная информация  о заказе </h3>
        <div class="row">
            <div class="col-md-8">
                {% for cart in carts %}
                <div class="row pt-5 align-items-center">
                        <div class="col-md-3">
                            <p>{{cart.product.name}}</p>
                        </div>
                        <div class="col-md-3">
                            <img src="{{cart.product.image.url}}" style="width: 100px;" alt="image">
                        </div>
                        <div class="col-md-3">
                            <p>{{cart.amount}} шт</p>
                        </div>
                        <div class="col-md-3">
                            <p>{{cart.product.price}} сум</p>
                        </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="col-md-4">

                <div class="d-flex justify-content-start mt-3">
                    <p>Покупатель: </p>
                    <p class="ml-auto">{{order.user.shippingaddressmodel.last_name}} {{order.user.shippingaddressmodel.first_name}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Время заказа: </p>
                    <p class="ml-auto">{{order.created_at|naturaltime}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Номер заказа: </p>
                    <p class="ml-auto">{{order.order_number}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Количество товаров: </p>
                    <p class="ml-auto">{{amount}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Итоговый сумма : </p>
                    <p class="ml-auto">{{order.amount}}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Способ оплаты:</p>
                    <p class="ml-auto">{% if order.payment_type == 1 %}Оплата при доставке{% elif order.payment_type == 2 %}Кредитная карта{% endif %}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>Статус платежа:</p>
                    <p class="ml-auto">{% if order.payment_status == 1 %}В ожидании{% elif order.payment_status == 3 %}Оплачен{% endif %}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    <p>О состоянии доставки:</p>
                    <p class="ml-auto">{% if order.delivery_status == 1 %}В ожидании{% elif order.delivery_status == 3 %}Доставлен{% endif %}</p>
                </div>
                <hr class="my-0">

                <div class="d-flex justify-content-start mt-3">
                    {% if order.payment_status == 1 and order.payment_type == 2 %}
                        <form name="apelsin_form" action="https://oplata.kapitalbank.uz" action="GET">
                            <input type="hidden" name="cash" value="c71014829ef640dcb8c96a0437a6ae91">
                            <input type="hidden" name="redirectUrl" value="https://krom-professional/order_detail/{{order.id}}">
                            <input type="hidden" name="description" value="Payment for Krom professional">
                            <input type="hidden" name="amount" value="{{ order.get_payme_amount }}">
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <button type="submit" class="btn btn-outline-secondary w-100">Payment</button>
                        </form>
                    {% endif %}
                    <a href="{% url 'user:dashboard' %}" class="ml-auto btn btn-outline-secondary w-100">Все заказы </a>
                </div>
                <hr class="my-0">
            </div>
        </div>
    </div>
{% endblock content %}