{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="shop">


        <section class="products mt-5 pt-5">


            <div class="container row row-cols-{{ cotegory|length }} mx-auto">
                <input type="radio" id="reset" name="color"/>
                <label class="col" for="reset">Все категории</label>
                {% for category in categories %}
                    <input type="radio" id="{{ category.slug }}" name="color"/>
                    <label class="col" for="{{ category.slug }}">{{ category.name }}</label>
                {% endfor %}

                <div class="row mx-auto  w-100">
                    {% for prod in products %}

                        <div class="col-lg-3 mt-3 {{ prod.category.slug }}">
                            <div class="card product text-center h-100">
                                <img src="{{ prod.image.url }}" class="card-img-top img-fluid" alt="{{ prod.name }}">
                                <div class="card-body">
                                    <a href="{% url 'shop:detail' prod.id %}"
                                       style="color: black; text-decoration: none;"
                                       class="card-text h5">{{ prod.name|truncatewords:'4' }}
                                        <h5><b style="color: rgb(197, 99, 99);">{{ prod.price }} сумм</b></h5>
                                    </a>
                                </div>

                                <div class=" d-none hover justify-content-center pr-2 flex-column position-absolute"
                                     style="right: 0px;
                         height: 100%;">

                                        <a class="aaa carts" href="{% url 'shop:add-to-cart' prod.id %}" style="text-decoration: none; color: black">
                                            <img src="{% static 'shop/img/cart.png' %}" class="pt-3 cartt"
                                                 style="width: 25px; "
                                                 alt="" srcset="">
                                            <img src="{% static 'shop/img/carted.png' %}" style="width: 25px" class="pt-3 d-none carttt">
                                        </a>

                                    <div href="" class="likes">
                                        <img src="{% static 'shop/img/like.png' %}" class="pt-3 like"
                                             style="width: 25px;  "
                                             alt="" srcset="">
                                        <img src="{% static 'shop/img/liked.png' %}" class="pt-3 d-none like"
                                             style="width: 25px;  " alt="" srcset="">
                                    </div>


                                    <!-- Button trigger modal -->

                                    <button type="button" class="btn pt-3 bg-transparent p-0" data-toggle="modal"
                                            data-target="#exampleModal{{ prod.id }}">
                                        <img src="{% static 'shop/img/full_half.png' %}" class="img-fluid"
                                             style="width: 25px;"
                                             alt="" srcset="">
                                    </button>


                                </div>

                            </div>
                            <!-- Modal -->
                            <div class="modal fade  " id="exampleModal{{ prod.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel{{ prod.id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog mx-auto position-absolute p-4"
                                     style="width: 70vw;  left: 15%; top: 10% ">
                                    <div class="modal-content mx-auto " style="width: 75vw; border-radius: 10px">
                                        <div class="modal-header mx-auto " style="width: 100%; border: none">
                                            <h5 class="modal-title" id="exampleModalLabel{{ prod.id }}"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="row p-3">
                                            <div class="col-lg-6">
                                                <img class="img-fluid" src="{{ prod.image.url }}" alt="">
                                            </div>
                                            <div class="col-lg-6 d-flex flex-column">
                                                <h3><b>{{ prod.name }}</b></h3>
                                                <h4 style=" color: rgb(197, 99, 99)">{{ prod.price }} сумм</h4>
                                                {% if prod.in_stock > 0 %}
                                                    <h6 style="color: green"> В наличии</h6>
                                                {% else %}
                                                    <h6 style="color: red">Нет наличии</h6>
                                                {% endif %}


                                                <h6 style="">Категория: {{ prod.category.name }}</h6>
                                                <p style="color: silver">Описание </p>
                                                <h6>{{ prod.dsecription }}</h6>
                                                <br>

                                                <div class="d-flex align-items-center">

                                                    <a class="aaa carts" href="{% url 'shop:add-to-cart' prod.id %}" style="text-decoration: none; color: black">
                                                        <img src="{% static 'shop/img/plus.png' %}" style="width: 15px"
                                                             alt=""><span> в карзину </span>
                                                            <img src="{% static 'shop/img/cart.png' %}"
                                                                 class=" cartt"
                                                                 style="width: 25px; "
                                                                 alt="" srcset="">
                                                            <img src="{% static 'shop/img/carted.png' %}"
                                                                 style="width: 25px; "
                                                                 class=" d-none carttt">

                                                    </a>
                                                    <div href="" class="likes pl-5">
                                                        <img src="{% static 'shop/img/plus.png' %}" style="width: 15px"
                                                             alt=""><span> в избранное </span>
                                                        <img src="{% static 'shop/img/like.png' %}" class=" like"
                                                             style="width: 25px;  "
                                                             alt="" srcset="">
                                                        <img src="{% static 'shop/img/liked.png' %}"
                                                             class=" d-none like"
                                                             style="width: 25px;  " alt="" srcset="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                    {% endfor %}
                    <style>
                        {% for category in categories %}

                            input[type="radio"][id="{{ category.slug }}"]:checked ~ .row .col-lg-3:not(.{{ category.slug }}) {
                                display: none;
                            }
                        {% endfor %}
                    </style>


                </div>
            </div>

        </section>


    </div>

{% endblock content %}

